name: p2p_tutoring_app
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_native_splash: ^2.4.7
  smooth_page_indicator: ^2.0.1
  get: ^4.6.5
  intl: ^0.20.2
  google_fonts: ^6.3.3
  liquid_swipe: ^3.1.0
  get_storage: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
  - assets/logos/
  - assets/images/on_boarding_images/
